<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>Mensaje personalizado para el contenido <b>vacío</b></div>
  </ng-container>

  <ng-container contenido>
    <div *ngFor="let pelicula of peliculas; let index = index" class="contenedor-pelicula">
      <div>
        <h2>{{ index + 1 }} - {{ pelicula.titulo | uppercase }} 
          <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
        </h2>
      </div>
      <div>{{ pelicula.fechaLanzamiento | date: "dd/MMMM/yyyy" }}</div>
      <div>{{ pelicula.precio | currency }}</div>
    </div>
  </ng-container>
</app-listado-generico>